body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.menu{
    width: 21.5%;
    position: fixed; 
    border-right: 15px solid rgb(241, 237, 237);
    height: 100%;
    padding-top: 40px;
}

.menu img{
    width: 120px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 100%;
}

.menu h2{
    font-size: 30px;
    margin-bottom: 0;
}


.menu h4{
    color: rgb(168, 166, 166);
}

.menu ul{
    padding: 0;
    margin-top: 50px;
}

.menu li{
    border-top: 1px solid rgb(241, 237, 237);
    border-bottom: 1px solid rgb(241, 237, 237);
    padding: 15px;
}

.menu li.active{
    border-right: 4px solid rgb(255, 166, 0);
}

li a{
    text-decoration: none;
    color: black;
}

.container-home{
    background-image: url("/assets/image/home_page_bg_2.jpeg");
    opacity: 0.7;
    margin-left: 22.5%;
    width: 100%;
    height: 100vh;
    position: relative;
    
}

.container-home h1{
    color: black;
    font-size: 90px;
    margin: 0;
    color: white;
}

.container-home h4{
    color: rgb(168, 166, 166);
    padding-left: 30%; 
    font-size: 20px;
}

.container-home ul{
    list-style: none;
    padding: 0;
    /* margin-left: 27.5%; */
    color: white;
    margin-top: 30px;
}

.home{
    position: absolute;
    padding-top: 10%;
    padding-left: 30%;
}

.mask{
    width: 100%;
    height: 100vh;
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);
    
}

.container-home li{
    margin-bottom: 15px;
    font-size: 18px;
}

li span{
    text-decoration: underline;
    text-decoration-color: yellow;  
    margin-right: 30px;
}